// Settings
$font-main: "Rajdhani", serif;
$font-2: "Poppins", serif;
$fontIcon: "icomoon";

:root {

    --black: #000000;
    --white: #ffffff;
    --primary: #F3500F;

    --gradient1: radial-gradient(50% 50% at 50% 50%, #FB8F10 0%, #FE0101 100%);
    --gradient2: linear-gradient(144.12deg, #FB8F10 14.68%, #FE0101 81.68%);
    --gradient3: linear-gradient(136.55deg, #FB8F10 5.49%, #FE0101 100%);
    --gradient4: linear-gradient(213.44deg, #000000 43.78%, #BA4811 124.39%);
    --gradient5: linear-gradient(150deg, #000000 29.69%, #FB8F10 51.45%, #FE0101 82.71%);
    --gradient6: linear-gradient(125.1deg, #232323 28.16%, #A23F1E 120.37%);

}
